Name :- Rayapati Keerthi

Assignment 02 :- Cassandra

In [79]:
# Load the packages
import pandas as pd
from cassandra.cluster import Cluster

In [103]:
# Load the datasets from the csv file
df_info = pd.read_csv('m14.csv')
df_info

    warehouse_num    stock_keeping_unit        description    product_name
0              101                 10001         'android'        'realme'
1              102                 10002       'android'            'vivo'
2              103                 10003         'android'       'samsung'
3              104                 10004      'android'           'galaxy'
4              105                 10005            'ios'         'iphone'
5              106                 10006         'android'          'appo'
6              107                 10007         'android'         'nokia'
7              108                 10008       'android'         'oneplus'
8              109                 10009         'android'        'google'

In [104]:
# Display the first five rows
df_info.head()

    warehouse_num    stock_keeping_unit      description    product_name
0              101                 10001       'android'        'realme'
1              102                 10002     'android'            'vivo'
2              103                 10003       'android'       'samsung'
3              104                 10004    'android'           'galaxy'
4              105                 10005          'ios'         'iphone'

In [80]:
# cassandra connectivity
clstr = Cluster()
session = clstr.connect()

In [81]:
# to create the keyspace in the 
session.execute("CREATE KEYSPACE IF NOT EXISTS m14 with REPLICATION= {'class':'SimpleStrategy','replication_factor':2}")

In [82]:
# to displays m14 keyspaces 
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

m14
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
w04
w04python

In [106]:

session.execute("""
CREATE TABLE IF NOT EXISTS m14.InventoryInfo(
     warehouse_num INT, 
     stock_keeping_unit INT, 
     product_name TEXT, 
     description TEXT,
     PRIMARY KEY(warehouse_num,stock_keeping_unit)
    
);
""")

In [107]:
session.execute("select * from m14.InventoryInfo")

In [110]:
for index, row in df_info.head(10).iterrows():
    print(f"stock_keeping_unit= {row[0]}, product_name = {row[1]}, description = {row[2]}, warehouse_num = {row[3]}")

stock_keeping_unit= 101, product_name = 10001, description =     'android' , warehouse_num =  'realme'
stock_keeping_unit= 102, product_name = 10002, description =    'android'   , warehouse_num = 'vivo'
stock_keeping_unit= 103, product_name = 10003, description =     'android' , warehouse_num =   'samsung'
stock_keeping_unit= 104, product_name = 10004, description =  'android'    , warehouse_num =  'galaxy'
stock_keeping_unit= 105, product_name = 10005, description =      'ios'  , warehouse_num =      'iphone'
stock_keeping_unit= 106, product_name = 10006, description =   'android' , warehouse_num =    'appo'
stock_keeping_unit= 107, product_name = 10007, description =       'android' , warehouse_num =    'nokia'
stock_keeping_unit= 108, product_name = 10008, description =  'android'   , warehouse_num =  'oneplus'
stock_keeping_unit= 109, product_name = 10009, description =        'android' , warehouse_num =    'google'

In [113]:
for index, row in df_info.iterrows():
    session.execute(f"""
        INSERT INTO m14.InventoryInfo (stock_keeping_unit, product_name, description, warehouse_num)     
        VALUES ({row[0]}, '{row[1]}', '{row[2]}', {row[3]});
        """
       )

SyntaxException: <Error from server: code=2000 [Syntax error in CQL query] message="line 3:36 no viable alternative at input 'android' (...VALUES (101, '10001', '    '[android]...)">